/* CoffeeList.css */

section {
  padding: 2rem;
  background-image: url('../resources/bg-cafe.jpg');
  background-color: #121212;
  border-radius: 20px;
    background-size: contain;
  background-repeat: no-repeat
  
}
.coffee-list-container {
  background-color: #121212;
  color: #fff;
  font-family: 'Inter', sans-serif;
  background-size: contain;
  background-repeat: no-repeat
}



.coffee-section {
  max-width: 900px;
  margin: 4rem auto;
  padding: 2.5rem;  
  background-color: #1f1f1f;
  border-radius: 20px;
  text-align: center;
  background-image: url('../resources/vector.svg');
  background-size: 200px 200px;
  background-position:  right top;
  background-repeat: no-repeat;


}

.coffee-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.description {
  color: #aaa;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 300; 
  line-height: 1.5;
  max-width: 600px;

  margin: 0 auto;
}

.filters{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #080808;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #e68900;
}
